const URLS = {
  server: "http://127.0.0.1:5000",
  login: "/account/",
  clear_session: "/clear_session/",
  api: {
    components_get: "/api/components/get/",
    components_add: "/api/components/add/",
    components_remove: "/api/components/remove/",
    components_update_attributes: "/api/components/update_attributes/",
    components_update_name_description: "/api/components/update_name_description/",
    component_types: "/api/component_types/get/",
    energy_management_systems: "/api/energy_management_systems/get/",
    grids_get:  "/api/grids/get/",
    grids_add: "/api/grids/add/",
    grids_remove: "/api/grids/remove/",
    grids_update_add_components: "/api/grids/update_add_components/",
    grids_update_remove_components: "/api/grids/update_remove_components/",
    grids_update_name_description: "/api/grids/update_name_description/",
    locations_get: "/api/locations/get/",
    powerloads_get: "/api/powerloads/get/",
    powerloads_add: "/api/powerloads/add/",
    powerloads_remove: "/api/powerloads/remove/",
    powerloads_update: "/api/powerloads/update/",
    quota: "/api/metadata/quotas/",
    resilience_compute: "/api/resilience/compute/",
    resilience_results_get:  "/api/resilience/results/get/",
    resilience_data_get:  "/api/resilience/results/data_get/",
    resilience_results_remove:  "/api/resilience/results/remove/",
    resilience_disturbances_get: "/api/resilience/disturbances/get/",
    resilience_disturbances_add: "/api/resilience/disturbances/add/",
    resilience_disturbances_remove: "/api/resilience/disturbances/remove/",
    resilience_disturbances_update_attributes: "/api/resilience/disturbances/update_attributes/",
    resilience_disturbances_update_name_description: "/api/resilience/disturbances/update_name_description/",
    resilience_disturbances_update_components: "/api/resilience/disturbances/update_components/",
    resilience_repairs_get:  "/api/resilience/repairs/get/",
    resilience_repairs_add: "/api/resilience/repairs/add/",
    resilience_repairs_remove: "/api/resilience/repairs/remove/",
    resilience_repairs_update_attributes: "/api/resilience/repairs/update_attributes/",
    resilience_repairs_update_name_description: "/api/resilience/repairs/update_name_description/",
    resilience_repairs_update_components: "/api/resilience/repairs/update_components/",
    simulate_compute: "/api/simulate/compute/",
    simulate_metrics_get: "/api/simulate/results/metrics/",
    simulate_results_get:  "/api/simulate/results/get/",
    simulate_results_remove:  "/api/simulate/results/remove/",
    sizing_grids_get:  "/api/grids/get_sizing/",
    sizing_compute:  "/api/sizing/compute/",
    sizing_results_remove:  "/api/sizing/results/remove/",
    sizing_results_get:  "/api/sizing/results/get/",
    sizing_results_save_to_grids:  "/api/sizing/results/save_to_grids/",
  }
}
